{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create Event 2/3 > Add attendees</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Confirm list of Attendees" />
    {{ form_end(form) }}

{% endblock %}
